@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Norse Bold";
    font-style: normal;
    font-weight: bold;
    src: url(/src/assets/Norse-Bold.otf) format("otf");
  }
}
