:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
    box-sizing: inherit;
}

@font-face {
    font-family: Norse;
    src: url(../fonts/Norse-Bold.otf);
}

main.main {
    display: flex;
}

aside.sidebar {
    background-image: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
}

form {
    margin: 2em;
legend {
    font-size: 1.25rem;
}

.names,
.contact-info,
.passwd {
    display: flex;
    margin: 0.5em;
    font-size: 0.8rem;
}

.names > div:first-child,
.contact-info > div:first-child,
.passwd > div:first-child {
    margin: 0em 4em 0em 0em;
}

input {
    border-color: #E5E7EB;
    border-radius: 0.3em;
}

label {
    text-transform: uppercase;
}

button {
    background-color: #596d48;
    color: white;
    border-radius: 0.3em;
    text-align: center;
    padding: .5em 2em;
    margin-top: 2em;
}

div > p {
    font-size: 0.8rem;
}